
namespace: devops-app


frontend:
  image:
    repository: abidhurais/helm-manifest-frontend
    tag: "latest"   
  port: 8080
  replicas: 1


backend:
  image:
    repository: abidhurais/helm-manifest-backend
    tag: "latest"  
  replicas: 1

redis:
  image:
    repository: redis
    tag: "7-alpine"
  password: redis123


resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"


ingress:
  enabled: true
  host: ""       

hpa:
  enabled: true
  frontend:
    minReplicas: 1
    maxReplicas: 2
    cpuThreshold: 50
  backend:
    minReplicas: 1
    maxReplicas: 2
    cpuThreshold: 50

networkPolicy:
  enabled: true
  allowFrontendToBackend: true
  allowBackendToRedis: true
